<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PDF Form Field Extractor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  </head>
  <body>
    <h1>PDF Form Field Extractor</h1>
    <form method="post" enctype="multipart/form-data">

      <button type="submit">Extract form fields and download as JSON</button>
    </form>
  </body>
</html>
